/* Fuente de Google */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/* Variables en CSS */ 
:root {
  --header-height: 3.5rem;

  /* Colores */
  --bg-color: hsl(192, 21%, 56%);
  --bg-color-light: hsl(184, 42%, 84%);
  --title-color: hsl(180, 5%, 8%);
  --text-color: hsl(188, 6%, 20%);
  --text-color-light: hsl(182, 4%, 55%);
  --body-color: hsl(182, 18%, 99%);
  --container-color: hsl(182, 18%, 97%);

  /* Fuentes y tipografia */
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Peso de la fuenta */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Variables para dispositivos mas grandes */

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* Estilos generales */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; 
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*-------- Tema Oscuro ---------- */

/* Variables para el tema oscuro */

body.dark-theme {
  --bg-color: hsl(192, 21%, 13%);
  --bg-color-light: hsl(184, 42%, 23%);
  --title-color: hsl(180, 5%, 95%);
  --text-color: hsl(188, 8%, 65%);
  --body-color: hsl(182, 18%, 18%);
  --container-color: hsl(182, 18%, 21%);

}


/*Botón oscuro / claro */

.change-theme {
  color: var(--title-color);
  font-size: 1.125rem;
  cursor: pointer;
}

/* Algunos cambios en el tema oscuro */ 

.dark-theme .scroll-header {
  box-shadow: 0 2px 8px hsla(220, 18%, 8%, 0.3);
}

.dark-theme img {
  border: 2px solid hsla(219, 46%, 93%, 0.12);
  box-shadow: 0 0 15px hsla(219, 46%, 93%, 0.12);
}


.dark-theme .footer {
  border-top: 3px solid hsla(219, 46%, 93%, 0.12);
  box-shadow: 0 0 15px hsla(219, 46%, 93%, 0.12);
}

.dark-theme .nav__menu {
  background-color: var(--container-color);
}

.dark-theme .nav__menu,
.dark-theme .scrollup {
  box-shadow: 0 4px 8px hsla(220, 18%, 8%, 0.3);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(0, 0%, 5%);
}


/* Clases reusables */

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; 
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(182, 30%, 21%, 0.5);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: 0.5rem;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .25rem;
  }

  .nav__link i {
    font-size: 1.25rem;
  }
  
  .nan__link span {
    font-size: 0.688rem;
  }

}


/* Cambiar el color del backgroud de la barra de navegacion */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, 0.12);
}


/* Active link */

.active-link {
  color: var(--title-color);
}



/* Home (Inicio) */

.home {
  background-color: var(--bg-color);
  overflow: hidden;
}

.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
  
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__description {
  color: var(--title-color);
  margin: 1rem 0 2rem;
}

.home__title,
.home__description {
  line-height: 150%;  
}

.home__images {
  position: relative;
  width: 310px;
  justify-self: center
}

.home__images img:nth-child(1) {
  width: 224px;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
  border: 2px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 10px hsla(220, 4%, 15%, 0.12);
}

.home__images img:nth-child(2) {
  width: 180px;
  margin-left: 0.5rem;
  position: relative;
  border: 2px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 15px hsla(220, 4%, 15%, 0.12);

}

/* Botones */

.button__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;

}

.button__link i {
  font-size: 1rem;
  transition: 0.3s;
}

.button__link:hover i{
  transform: translateX(0.25rem);
}


/*  New (Nuevas Categorias) */

.new__container {
  row-gap: 2.5rem;
  padding-bottom: 1.5rem;

}

.new__card {
  justify-self: center;
}

.new__img {
  width: 270px;
  margin-bottom: 1rem;
  border: 2px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 10px hsla(220, 4%, 15%, 0.12);
}

.new__link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
  padding-right: 0.75rem;
}

.new__link i {
  font-size: 1.25rem;
  transition: 0.3s;
}

.new__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.new__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.new__link:hover i {
  transform: translateX(0.25rem);
}

/* Collection (Colecciones) */

.collection {
  background-color: var(--bg-color-light);
  overflow: hidden;
}

.collection__container {
  position: relative;
  height: 571px;
  display: grid;
  justify-items: center;
}

.collection__title {
  font-size: var(--h1-font-size);
  margin: 0.75rem 0.75rem 0.75rem 0;   
}

.collection__explore {
  display: grid;
  column-gap: 2rem;
  position: absolute;
}

.collection__explore:nth-child(2) {
  grid-template-columns: 230px max-content;
  bottom: 1rem;
  margin-right: 5rem;
}

.collection__explore:nth-child(1) {
  grid-template-columns: max-content 230px;
  top: 0;
  margin-left: 5rem;

}

.collection__data-men {
  margin-top: 2.5rem;

}

.collection__data-women {
  align-self: flex-end;
  margin-bottom: 2.5rem;
}

.collection__img {
  border: 2px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 10px hsla(220, 4%, 15%, 0.12);
}

/* Products (Productos) */

.products {
  height: 550px;
}

.products__container {
  padding-bottom: 5rem;
}

.products__card {
  width: 270px;
}

.products__img {
  margin-bottom: 1rem;
  border: 2px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 10px hsla(220, 4%, 15%, 0.12);
}

.products__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.products__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

/* Swiper */

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-next,
.swiper-button-prev  {
  top: initial;
  width: initial;
  height: initial;
  font-size: 1.5rem;
  color: var(--title-color);
}

.swiper-button-prev {
  left: calc(50% - 2rem);
}

.swiper-button-next {
  right: calc(50% - 2rem);
}


/*Brands (Marcas)*/

.brand__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 1.25rem;
}

.brand__img {
  width: 120px;
  border: 2px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 10px hsla(220, 4%, 15%, 0.12);
}

.brand__img:nth-child(even) {
  margin-top: 2rem;
}

/* Footer */

.footer {
  border-top: 3px solid hsla(220, 4%, 15%, 0.12);
  box-shadow: 0 0 15px hsla(220, 4%, 15%, 0.12);
  border-radius: 30px 30px 0 0;
  padding-top: 3rem;
}

.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  display: inline-block;
  margin-bottom: .75rem;
}

.footer__description {
  margin-bottom: 1 rem;
}

.footer__content,
.footer__links {
  display: grid;
}

.footer__content {
  margin-top: 2.5rem;
  grid-template-columns: repeat(2, max-content);
  gap: 3.5rem 3rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links {
  row-gap: .75rem;
}

.footer__link,
.footer__information {
  font-size: var(--small-font-size);
}

.footer__link {
  color: var(--text-color);
  transition: 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 0.5rem;
}

.footer__social-link {
  display: inline-flex;
  color: var(--title-color);
  padding: 0.4rem;
  background-color: var(--container-color);
  font-size: 1.25rem;
  transition: backgroud-color .3s;
}

.footer__social-link:hover {
  background-color: var(--bg-color-light);
}

.footer__info {
  margin-top: 6rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.footer__copy,
.footer__privacy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}


/* Barra de Scroll */ 

::-webkit-scrollbar {
  width: .6rem;
  border-radius: 0.5rem;
  background: hsl(182, 8%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 37%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 5%);

}

/* Scroll Up */

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(220, 4%, 15%, 0.12);
  display: inline-flex;
  padding: 0.35rem;
  color: var(--title-color);
  font-size: 1.1rem;
  z-index: var(--z-tooltip);
  transition: 0.3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}


/* Mostrar Scroll Up*/

.show-scroll {
  bottom: 7.5rem;
}


/* Breakpoints */

/* Para dispositivos pequeños */

@media screen and (max-width: 340px) {

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .footer__content {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }

  .nav__menu{
    padding: 1rem 1.5rem;
  }

  .home__container {
    padding: 2rem 0 1rem;
    row-gap: 6rem;
  }

  .home__description{
    font-size: var(--small-font-size);
  }

  .home__images {
    width: 248px;
  }
  
  .home__images img:nth-child(1) {
    width: 180px;
    top: -7rem;
  }

  .home__images img:nth-child(2) {
    width: 150px;
  }

  .new__img {
    width: 230px;
  }

  .new__link{
    padding-right: 0;
  }

  .collection__explore:nth-child(1),
  .collection__explore:nth-child(2){
    position: initial;
    grid-template-columns: 280px;
    row-gap: 2rem;
    margin: 0;
  }

  .collection__container {
    height: initial;
    row-gap: 3rem;
  }

  .collection__data-men {
    margin-top: 0;
  }

  .collection__data-women {
    margin-bottom: 0;
  }

  .products__card {
    width: 230px;
  }

  .brand__container {
    grid-template-columns: repeat(2, 100px);
    row-gap: 0.5rem;
  }

}


/* Para dispositivos medios */

@media screen and (min-width: 576px) {
 
  .nav__menu {
    width: 342px;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }

}

@media screen and (min-width: 767px) {
  .home__container,
  .new__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }

  .home__images {
    margin-top: 6rem;
  }

  .brand__container {
    grid-template-columns: repeat(4, max-content);
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

}


/* Para dispositivos grandes */

@media screen and (min-width: 1023px) {

  .section {
    padding: 7rem 0 1rem;
  }

  .section__title {
    margin-bottom: 4rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }

  .nav__link i {
    display: none;
  }
  
  .nav__link:hover {
    color: var(--title-color);
  }

  .active-link {
    color: var(--title-color);
    text-decoration: line-through;
  }

  .change-theme {
    margin-left: 3rem;
    color: var(--text-color);
  }

  .dark-theme .nav__menu {
    background-color: transparent;
    box-shadow: none;
  }

  .products__container {
    width: 954px;
  }

  .brand__container {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .footer__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 5.5rem;
  }

  .footer__link {
    font-size: var(--normal-font-size);
  }

  .footer__info {
    padding-bottom: 2rem;
    row-gap: 1rem;
  }

}

@media screen and (min-width: 1054px) {
  .container {
    margin-left: auto;
    margin-right: auto
  }
}

@media screen and (min-width: 1124px) {

  .home__container {
    padding: 10rem 2rem 10rem ;
    justify-content: space-between;
    
  }

  .home__images {
    width: 350px;
    margin-top: 8rem;
    transform: translate(-1rem);
  }
   
  .home__images img:nth-child(1) {
    width: 345px;
    top: -14.5rem;
  } 

  .home__images img:nth-child(2) {
    width: 277px;
    top: 5rem;
    left: -13rem;
  }

  .new__container {
    grid-template-columns: repeat(3, max-content);
    padding-bottom: 4.5rem;
    gap: 4.5rem;
  }

  .new__img {
    margin-bottom: 1.25rem;
  }

  .new__title {
    font-size: var(--h3-font-size);
  }

  .collection__container {
    height: 760px;
    margin-bottom: 2rem;
  }

  .collection__explore:nth-child(1) {
    grid-template-columns: max-content 330px;
    margin-left: 10rem;

  }

  .collection__explore:nth-child(2) {
    grid-template-columns: 330px max-content;
    margin-right: 10rem;
    
  }

  .collection__explore {
     column-gap: 5rem;
  }

  .products__container {
    padding-bottom: 7rem;
  }

  .brand__container {
    column-gap: 5.5rem;
  } 

  .brand__img {
    width: 140px;
  }

  .scrollup {
    right: 3rem;
  }

  .show-scroll {
    bottom: 3rem;
  }

}

/* Dispositivos de resoluciones de 2K */

@media screen and (min-width: 2048px) {
  body {
    zoom: 1.3;
  }
}

/* Dispositivos de resoluciones de 4K */

@media screen and (min-width: 2048px) {
  body {
    zoom: 2.3;
  }
}
